@{
    ViewData["Title"] = "Error";
}

<div id="root" class="text-center">
    <h1>Document download has expired</h1>
    <a href="https://www.stockport.gov.uk" class="button-primary">Return to stockport.gov.uk</a>
</div>