@{
    ViewData["Title"] = "Error";
    ViewData["IsError"] = true;
    Layout = "_ErrorLayout";
}

<h1 class="govuk-heading-l">Document download has expired</h1>
<p class="smbc-body">
    <a class="govuk-link" href="https://www.stockport.gov.uk">Go back to the homepage</a>
</p>