@model Element
@{
    var cssClass = "govuk-heading-l";
    switch (Model.Properties.Size)
    {
        case ESize.ExtraLarge:
            cssClass = "govuk-heading-xl";
            break;
        case ESize.Medium:
            cssClass = "govuk-heading-m";
            break;
        case ESize.Small:
            cssClass = "govuk-heading-s";
            break;
    }
}
<h2 class="@cssClass">@Model.Properties.Text</h2>