@model form_builder.ViewModels.FormBuilderViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

<div id="root" class="text-center">
    @using (Html.BeginForm("Index", "Organisation", FormMethod.Post))
    {
        @Html.Raw(Model.RawHTML)

        @Html.HiddenFor(_ => _.Path)
        <input type="hidden" id="OrganisationStatus" name="OrganisationStatus" value="@Model.OrganisationStatus">
    }
</div>