@model form_builder.ViewModels.ElementViewModel
@{
    var elementProperties = Model.Element.GenerateElementProperties();
    elementProperties.Add("class", "govuk-input govuk-input--width-10");
}

<div class="govuk-form-group @(!Model.Element.IsValid ? "govuk-form-group--error" : string.Empty)">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        @Model.Element.Properties.AddressLabel
    </h1>

    <label class="govuk-label govuk-label--m" for=@Model.Element.GetCustomItemId("postcode")>@Model.Element.Properties.PostcodeLabel
        @if (Model.Element.Properties.Optional)
        {
            <span>(optional)</span>
        }
    </label>

    <partial name="Hint" model=@Model.Element />

    <partial name="Error" model=@Model.Element />

    @Html.TextBox(Model.Element.GetCustomItemId("postcode"), Model.Element.Properties.Value, elementProperties)
</div>