@model form_builder.Models.Elements.Address
@{
    var elementProperties = Model.GenerateElementProperties();
    elementProperties.Add("autocomplete", "postal-code");
    if(!Model.IsValid)
    {
        elementProperties.Add("class", "govuk-input govuk-input--width-10 govuk-input--error");
    }
    else
    {
        elementProperties.Add("class", "govuk-input govuk-input--width-10");
    }
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @if (@Model.Properties.StockportPostcode == true)
    {
        <section class="govuk-inset-text">
            <p>@Model.Properties.AddressIAG</p>
        </section>
    }
    
    <partial name="LabelH1" />

    <partial name="Hint" />

    <partial name="Error" />

    @Html.TextBox(Model.QuestionId, Model.Properties.Value, elementProperties)
</div>