@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <h1>Booking</h1>
    @Html.DropDownList(Model.QuestionId, Model.Appointments)
</div>