@model form_builder.Models.Elements.Booking

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" />

    <partial name="InsetText" model="@Model.Properties.IAG" />

    <partial name="Hint" />

    <partial name="Error" />

    @Html.DropDownList(Model.QuestionId, Model.Appointments)
</div>