@model List<form_builder.Models.Breadcrumb>
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        @foreach (var breadCrumb in Model)
        {
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@breadCrumb.Url">@breadCrumb.Text</a></li>
        }
    </ol>
</div>