@model form_builder.Models.Elements.Element
@{
    @* TODO: Not sure what to do about spinners - have included double click protection from gds (Probably still needs js file refs for this to work) *@
    @* TODO: Why is button text in viewdata not in Properties.Value?*@
    @* var showSpinner = (bool)ViewData["showSpinner"]; *@
    @* var displayAnchor = (bool)ViewData["displayAnchor"]; *@
    @* var spinnerButton = showSpinner ? $"onclick=spinnerButton('{@Model.Properties.ButtonId}');" : null; *@
}

<button data-prevent-double-click="true" 
    class="govuk-button @Model.Properties.ClassName" 
    type="submit" 
    id="@Model.Properties.ButtonId"
    @(Model.Properties.Disabled ? "disabled=disabled" : string.Empty)>@((string)ViewData["buttonText"])</button>