@model form_builder.Models.Elements.Element
@{
    var showSpinner = (bool)ViewData["showSpinner"];
    var displayAnchor = (bool)ViewData["displayAnchor"];
    var text = (string)ViewData["buttonText"];
    var className = string.IsNullOrEmpty(Model.Properties.ClassName) ? "button-primary" : Model.Properties.ClassName;
    var spinnerButton = showSpinner ? $"onclick=spinnerButton('{@Model.Properties.ButtonId}');" : null;
}

<button class="@className" @spinnerButton type="submit" id="@Model.Properties.ButtonId">@text</button>

@if (@displayAnchor)
{
    if (!Model.Properties.HidePreviousLink)
    {
        <a class="back-button" href="javascript:history.back(-1)">Previous</a>
    }
}