@model form_builder.Models.Element

@{
    var text = string.IsNullOrEmpty(Model.Properties.Text) ? "Next step" : Model.Properties.Text;
}

<button class="button-primary" type="submit" id="@Model.Properties.ButtonId">@text</button>