<p class="smbc-body">
    <strong class="govuk-!-margin-right-1">@Model.ChangeHeader</strong>
    @Model.Properties.Value
    <a class="govuk-!-margin-left-6 govuk-link" href="@Model.ReturnURL">Change</a>
</p>