@using form_builder.Helpers
@model form_builder.Models.Elements.Element

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)" />
    @await Html.BeginFieldSet(Model, new string[] {"govuk-fieldset" })

        <partial name="LegendH1" />
        
        <partial name="Hint" />

        <partial name="Error" />

        <partial name="CheckboxOptions" />

    @await Html.EndFieldSet()
</div>