@model form_builder.Models.Elements.DocumentUpload

<a href="@Model.Properties.DocumentUploadUrl" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" target="_blank">
    @Model.Properties.Text
    <partial name="ChevronSVG" />
</a>