@model form_builder.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<main id="content">
    <h1 class="text-danger">Error.</h1>
    <div id="root" class="text-center">
    </div>
</main>
