@model form_builder.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<main class="grid-container">
    <div class="l-container-square l-body-container l-body-container-pushed l-body-container-mobile">
        <div id="content" class="error-page">
            <h1>There was a problem with your request.</h1><br /><br />
            <h3>TODO: to remove this before launch</h3>
            <h2>@ViewData["Error"]</h2>
        </div>
    </div>
</main>