@model form_builder.ViewModels.ErrorViewModel
@if (!Model.IsValid)
{
    <span class="govuk-error-message" id="@Model.Id">
        <span class="govuk-visually-hidden">Error:</span>@Html.Raw(@Model.Message) 
    </span>
}