@{
    var displayHeading = !(bool)ViewData["IsError"];
    var startPageUrl = string.Empty;

    if (!string.IsNullOrWhiteSpace(Model?.StartPageUrl))
    {
        startPageUrl = Model.StartPageUrl;
    }
}
<header class="smbc-header" role="banner" data-module="govuk-header">
    <div class="smbc-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="https://www.stockport.gov.uk/" class="govuk-header__link smbc-header__link--homepage">STOCKPORT.GOV.UK</a>
        </div>
        <div class="govuk-header__content">
            @if (displayHeading)
            {
                <a href="@startPageUrl" class="govuk-header__link smbc-header__link--service-name">
                    @Model.FormName
                </a>
            }
        </div>
    </div>
</header>