@model form_builder.Models.Elements.Element

<section class="alert-inline">
    @if (!string.IsNullOrEmpty(Model.Properties.Label))
    {
        <h2>@Model.Properties.Label</h2>
    }

    @if (!string.IsNullOrEmpty(Model.Properties.Text))
    {
        <p>@Html.Raw(@Model.Properties.Text)</p>
    }
</section>