        @if(Model.Properties.LegendAsH1 || Model.Properties.LabelAsH1) {
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    @Model.Properties.Label
                </h1>
            </legend>
        }
        else {
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    @Model.Properties.Label
            </legend>
        }