@model form_builder.Models.Elements.Element
@{
    var OpenInTab = Model.Properties.OpenInTab ? "target='_blank'" : "";
}

<a href='@Model.Properties.Url' rel='noreferrer noopener' @OpenInTab class='@Model.Properties.ClassName'>@Model.Properties.Text</a>