@model form_builder.Models.Elements.Map

@{
    var mainLatest = Model.Properties.Source + "/main-latest.js";
    var vendorLatest = Model.Properties.Source + "/vendor-latest.js";
}

<div id='root' class='leaflet-map'></div>
<script type='text/javascript' src='@mainLatest'></script>
<script type='text/javascript' src='@vendorLatest'></script>
<noscript>
    Phone the contact centre
</noscript>