@model form_builder.Models.Elements.MultipleFileUpload
@{
    var sizeValidationError = $"{Model.QuestionId}-fileSizeError";
    var elements = Model.GenerateElementProperties();
    elements.Add("class", "govuk-file-upload");
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" />

    <partial name="Error" />

    @foreach (var file in Model.FileUpload)
    {
        <p>@file.TrustedOriginalFileName</p>
    }

    @* TODO:This will work for fileupload, but not the form-group, need to work that out *@
    <span class="govuk-error-message" id="@sizeValidationError" style="display: none">
        <span class="govuk-visually-hidden">Error:</span> The selected file must be smaller than 23MB
    </span>

    @Html.TextBox(Model.QuestionId, Model.Properties.Value, elements)
</div>