@model form_builder.Models.Elements.Organisation
@{
    var elementProperties = Model.GenerateElementProperties();
    elementProperties.Add("class", Model.IsValid ? "govuk-input govuk-input--width-10" : "govuk-input govuk-input--width-10 govuk-input--error");
    elementProperties.Add("autocomplete", "organization");
}

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    <partial name="LabelH1" />

    <partial name="Hint" />

    <partial name="Error" />

    @Html.TextBox(Model.QuestionId, Model.Properties.Value, elementProperties)
</div>