@model form_builder.ViewModels.ElementViewModel
@{
    var elementProperties = Model.Element.GenerateElementProperties();
    if(!Model.Element.IsValid)
    {
        elementProperties.Add("class", "govuk-input govuk-input--error");
    }
    else
    {
        elementProperties.Add("class", "govuk-input");
    }
}

<div class="govuk-form-group @(!Model.Element.IsValid ? "govuk-form-group--error" : string.Empty)">

    <partial name="LabelH1" model=@Model.Element />

    <partial name="Hint"  model=@Model.Element />

    <partial name="Error"  model=@Model.Element />

    @Html.TextBox(Model.Element.QuestionId, Model.Element.Properties.Value, elementProperties)
</div>