<div class="govuk-width-container govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="smbc-tag govuk-phase-banner__content__tag">PREVIEW</strong>
        <span class="govuk-phase-banner__text">Your are currently in preview mode. Click <a href="/preview/exit" class="govuk-link">here</a> to exit preview mode</span>
    </p>
</div>