@using form_builder.Helpers
@model form_builder.Models.Elements.Element
@{
    var hintId = $"{Model.Properties.QuestionId}-hint";
    var errorId = $"{Model.Properties.QuestionId}-error";
}

@await Html.BeginFieldSet(Model)
    <partial name="Legend" model="@Model">

    @if (!string.IsNullOrEmpty(Model.Properties.Hint))
    {
        <p id=@hintId>@Html.Raw(Model.Properties.Hint)</p>
    }

    <div>
        <partial name="RadioOptions"/>

        @if (!Model.IsValid)
        {
            {
                var validationMessage = string.IsNullOrEmpty(Model.Properties.CustomValidationMessage) ? Model.ValidationMessage : Model.Properties.CustomValidationMessage;

                <p class="input-error-content" id="@errorId">@validationMessage</p>
            }
        }
    </div>

@await Html.EndFieldSet()
