@model bool
@using form_builder.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<ReCaptchaConfiguration> Config

@{
    var recaptchaClasses = Model ? "g-recaptcha smbc-recaptcha" : "g-recaptcha smbc-recaptcha govuk-input--error";
}

<div data-module="smbc-recaptcha" class="@recaptchaClasses" data-sitekey="@Config.Value.SiteKey"></div>