@model form_builder.Models.Element

<option value="">Select an option...</option>
@for (var i = 0; i < Model.Properties.Options.Count; i++)
{
<option value="@Model.Properties.Options[i].Value">@Model.Properties.Options[i].Text</option>
}
