@model form_builder.Models.Elements.Street
@{
    var elementProperties = Model.GenerateElementProperties();
    if(!Model.IsValid)
    {
        elementProperties.Add("class", "govuk-input govuk-input--error");
    }
    else
    {
        elementProperties.Add("class", "govuk-input");
    }
}

    <div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
        @if (!string.IsNullOrEmpty(@Model.Properties.StreetIAG))
        {
            <section class="govuk-inset-text">
                <p>@Model.Properties.StreetIAG</p>
            </section>
        }

        <partial name="LabelH1" />

        <partial name="Hint" />

        <partial name="Error" />

        @Html.TextBox(Model.QuestionId, Model.Properties.Value, elementProperties)
    </div>