@model form_builder.Models.Elements.Element
@{
    var elements = Model.GenerateElementProperties();
    if(!Model.IsValid)
    {
        elements.Add("class", "govuk-textarea govuk-textarea--error");
    }
    else{
        elements.Add("class", "govuk-textarea");
    }
}

<div class="govuk-form-group @(!Model.IsValid ? " govuk-form-group--error" : string.Empty)"
    <partial name="LabelH1" />

    <partial name="Hint" />
    <p class="govuk-hint">Your description can be up to @Model.Properties.MaxLength characters</p>
    
    <partial name="Error" />
    
    @Html.TextArea(Model.QuestionId, Model.Properties.Value, elements)    
</div>