@model form_builder.Models.Element

@{
    var displayClass = string.IsNullOrEmpty(Model.Properties.ClassName) ? null : $"class={Model.Properties.ClassName}";
}

<ul @displayClass>
    @foreach (var li in Model.Properties.ListItems)
    {
        <li>@Html.Raw(li)</li>
    }
</ul>