@model form_builder.Models.Elements.Element

<ul class="govuk-list govuk-list--bullet @Model.Properties.ClassName">
    @foreach (var li in Model.Properties.ListItems)
    {
        <li>@Html.Raw(li)</li>
    }
</ul>