@model form_builder.Models.Elements.Warning

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    @Html.Raw(Model.Properties.Text)
  </strong>
</div>