@model FormBuilderViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["DisplayBreadcrumbs"] = Model.DisplayBreadCrumbs;
    ViewData["Breadcrumbs"] = Model.BreadCrumbs;
}

<h1 class="govuk-heading-l">Appointment cannot be cancelled</h1>


<p class="smbc-body">
    <a class="govuk-link" href="https://www.stockport.gov.uk">Go back to the homepage</a>
</p>
