@model form_builder.ViewModels.TimeAvailabilityViewModel

@foreach (var day in  Model.TimesAvailability)
{
    var timeHeaderModel = new TimeHeaderViewModel {  Date = day.Date, AmId = day.MorningAppointments.Id, PmId = day.AfternoonAppointments.Id, Checked = ETimePeriod.Morning };
    <div class="smbc-time smbc-time__conditional smbc-time__conditional--hidden" id="@day.TimeSelectionIdForConditionalReveal" data-module="smbc-time">
        <partial name="TimeHeader" model="@timeHeaderModel" />
        <partial name="TimePeriod" model="@day.MorningAppointments" />
        <partial name="TimePeriod" model="@day.AfternoonAppointments" />
    </div>
}