@model form_builder.ViewModels.PaymentFailureViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["FeedbackUrl"] = Model.FeedbackForm;
    ViewData["FeedbackPhase"] = Model.FeedbackPhase;
}

<h1 class="govuk-heading-l">Your Payment was declined</h1>
<p class="smbc-body">
    Contact your bank for more details. No money has been taken from your account.
</p>
<a className="govuk-button" href=@Model.PaymentUrl>Go back to try the payment again</a>
<br>
<a className="govuk-button govuk-button--secondary" href="https://www.stockport.gov.uk">Go to home page</a>