@model form_builder.ViewModels.PaymentFailureViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["FeedbackUrl"] = Model.FeedbackForm;
    ViewData["FeedbackPhase"] = Model.FeedbackPhase;
    ViewData["BaseUrl"] = Model.StartFormUrl;
}

<h1>Your Payment was declined</h1>
<p className="no-margin-bottom">
    Contact your bank for more details. No money has been taken from your account.
</p>
<a className="button-primary" href=@Model.PaymentUrl>Go back to try the payment again</a>
<br>
<a className="button-secondary" href="https://www.stockport.gov.uk">Go to home page</a>