@model form_builder.ViewModels.PaymentFailureViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

<div id="root" class="text-center">
    <h1>Payment Failure</h1>
    <p>@Model.Reference</p>
</div>