@model PaymentFailureViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["FeedbackForm"] = Model.FeedbackForm;
    ViewData["FeedbackPhase"] = Model.FeedbackPhase;
    ViewData["DisplayBreadcrumbs"] = Model.DisplayBreadCrumbs;
    ViewData["Breadcrumbs"] = Model.BreadCrumbs;
    ViewData["PreviewMode"] = Model.IsInPreviewMode;
    ViewData["Embeddable"] = Model.Embeddable;
}

<h1 class="govuk-heading-l">We’re sorry, there was a problem with the payment</h1>
<p class="smbc-body">
    No money has been taken from your account. Please try again if you want to continue.
</p>

<a class="govuk-button" href=@Model.PaymentUrl>Try the payment again</a>
<br />
<a class="govuk-button govuk-button--secondary" href="@Model.PaymentIssueButtonUrl">@Model.PaymentIssueButtonLabel</a>