@model form_builder.ViewModels.PaymentSuccessViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

    <div id="root" class="text-center">
        <h1>Payment Successful</h1>
        <p>@Model.Reference</p>
        <a className="button-primary" href="https://www.stockport.gov.uk">Go to home page</a>
    </div>