@model bool
@inject IOptions<ReCaptchaConfiguration> Config

@{
    var recaptchaClasses = Model ? "g-recaptcha smbc-recaptcha" : "g-recaptcha smbc-recaptcha govuk-input--error";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div data-module="smbc-recaptcha" class="@recaptchaClasses" data-sitekey="@Config.Value.SiteKey"></div>