@model bool
@inject IOptions<ReCaptchaConfiguration> Config

@{
    var recaptchaClasses = Model ? "g-recaptcha smbc-recaptcha" : "g-recaptcha smbc-recaptcha govuk-input--error";
}

@section Recaptcha {
    <div data-module="smbc-recaptcha" class="@recaptchaClasses" data-sitekey="@Config.Value.SiteKey"></div>
}