@model Element

<div class="govuk-form-group @(!Model.IsValid ? "govuk-form-group--error" : string.Empty)">
    @Html.BeginFieldSet(Model, new string[] { "govuk-fieldset" })

    <partial name="LegendH1" />

    <partial name="Warning" />

    <partial name="InsetText" model="Model.Properties.IAG" />

    <partial name="Hint" />

    <partial name="Error" />

    <partial name="RadioOptions" />

    @Html.EndFieldSet()
</div>