@model Link

<div class="govuk-button-group">
    <a href=@Model.Properties.Url rel="noreferrer noopener"
    target=@(Model.Properties.OpenInTab ? "_blank" : "_self")
    class="@Model.Properties.ClassName">
        @Model.Properties.Text
        @if (Model.Properties.DisplayRightChevron)
        {
            <partial name=ChevronSVG />
        }
    </a>
</div>

