@model Link
@{
    var OpenInTab = Model.Properties.OpenInTab ? "target='_blank'" : "";
}

<a href='@Model.Properties.Url' rel='noreferrer noopener' @OpenInTab class='@Model.Properties.ClassName'>
    @Model.Properties.Text
    @if(Model.Properties.DisplayRightChevron){
        <partial name="ChevronSVG" />
    }
</a>
