@{
    ViewData["Title"] = "Error";
    ViewData["IsError"] = true;
    Layout = "_ErrorLayout";
}

<h1 class="govuk-heading-l">You have exited preview mode</h1>

<p class="smbc-body">
    <a class="govuk-link" href="https://www.stockport.gov.uk">Go back to the homepage</a>
</p>