.cc-nb-main-container {
    max-width: 960px !important;
    margin: auto !important;
    padding: 1.5rem 0rem 1.5rem 0rem !important;
}

.freeprivacypolicy-com---nb {
    background-color: f2f2f2 !important;
    font-size: 1.1875rem !important;
    min-height: 225px;
    font-family: Public Sans, Helvetica, Arial, sans-serif!important;
}

.cc-nb-reject, .cc-nb-okagree {
    background-color: #008080 !important;
    font-size: 1.1875rem !important;
    font-weight: normal !important;
}

.cc-nb-reject:hover, .cc-nb-okagree:hover {
    background-color:#066 !important;
}

.cc-nb-changep {
    color: #008080 !important;
    background-color: white !important;
    font-size: 1.1875rem !important;
    font-weight: normal!important;
}

.cc-nb-changep:hover {
    color: #008080!important;
    background-color: #0080801a!important;
}

.cc-nb-text {
    color: #333333 !important;
    font-size: 1.1875rem !important;
}