ul {
    margin: 0 0 20px 15px;
}

ul li {
    margin: 0;
}

ol.indented-list {
    margin: 0 0 20px 35px;
}

ol {
    margin: 0 0 20px 15px;
    padding-left: 0px;
}

.text-area-validation {
    top: -10px;
}

.form-builder-img {
    width: 100%;
}

fieldset.input-memorable-date {
    margin-bottom: 24px;
}

.input-memorable-date div input[type=text] {
    display: inline-block;
    width: 55px;
    margin-right: 20px;
}

.input-memorable-date div {
    display: inline-block;
    position: relative;
}

.input-memorable-date div:last-of-type input[type=text] {
    width: 110px;
}

@media only screen and (max-width: 767px) {
    ol.indented-list {
        margin-left: 25px;
    }
}




legend {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1b1b1b;
    font-size: 1.263em;
    font-weight: 700;
    margin: 0 0 26px 0;
    line-height: 1.25;
}


@media only screen and (max-width: 767px) {    

    legend {
        font-size: 1.125em;
        line-height: 1.111;
    }
}