ul {
    margin: 0 0 20px 15px;
}

ul li {
    margin: 0;
}

ol.indented-list {
    margin: 0 0 20px 35px;
}

ol {
    margin: 0 0 20px 15px;
    padding-left: 0px;
}

.text-area-validation {
    top: -10px;
}

.form-builder-img {
    width: 100%;
}

fieldset.input-memorable-date, fieldset.input-time {
    margin-bottom: 24px;
}

.input-memorable-date div input[type=text] {
    display: inline-block;
    width: 55px;
    margin-right: 20px;
}

.input-memorable-date div {
    display: inline-block;
    position: relative;
}

.input-memorable-date div:last-of-type input[type=text] {
    width: 110px;
}

.input-time div input[type=text] {
    display: inline-block;
    width: 55px;
    margin-right: 20px;
}

.input-time div {
    display: inline-block;
    position: relative;
}

legend > span.optional {
    padding-left: 10px;
    font-size: 0.875em;
    display: inline-block;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    legend {
        font-size: 1.125em;
        line-height: 1.111;
    }

    legend > span.optional {
        display: block;
        padding: 0;
        margin-bottom: 16px;
        line-height: 1.75;
    }

    ol.indented-list {
        margin-left: 25px;
    }

    .horizontal{
        display:table-cell !important;
        width:50%;
    }

    .ampm {
        width:100%;
    }
}

.colon-divider {
    text-align: left;
    font-weight: 500;
}

.horizontal > label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 19px;
    line-height: 28px;
    display: inline-block;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 12px 18px 4px 45px;
    position: relative;
}