
<tr>
    @foreach (var item in new DayOfWeek[7] { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday })
    {
        <th scope="col" class="smbc-calendar__weekdays">

            <p aria-hidden="true" class="smbc-calendar__weekdays__text">
                @item.ToString().Substring(0, 1)
            </p>

            <span class="govuk-visually-hidden">@item</span>

        </th>
    }
</tr>
