<tr>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            M</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            T</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            W</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            T</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            F</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            S</p>
    </th>
    <th scope="col" class="smbc-calendar-weekdays">
        <p
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
            S</p>
    </th>
</tr>