@model form_builder.ViewModels.FormBuilderViewModel
@using form_builder.Enum
@{
    ViewData["Title"] = "Home Page";
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

<div id="root" class="text-center">
    @using (Html.BeginForm("Index", "Address", FormMethod.Post))
    {
        @Html.Raw(Model.RawHTML)

        @Html.HiddenFor(_ => _.Guid)
        @Html.HiddenFor(_ => _.Path)
        <input type="hidden" id="AddressStatus" name="AddressStatus" value="@Model.AddressStatus">
    }
</div>