@model form_builder.ViewModels.FormBuilderViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

<div id="root" class="text-center">
    @using (Html.BeginForm("Index", "Street", FormMethod.Post))
    {
        @Html.Raw(Model.RawHTML)

        @Html.HiddenFor(_ => _.Guid)
        @Html.HiddenFor(_ => _.Path)
        <input type="hidden" id="StreetStatus" name="StreetStatus" value="@Model.StreetStatus">
    }
</div>