@using Newtonsoft.Json
@model DataStructureViewModel
@{
    ViewData["Title"] = "Data Structure";
    ViewData["DisplayBreadcrumbs"] = Model.DisplayBreadcrumbs;
}

<h1 class="govuk-heading-l">Data structure preview</h1>
<div class="smbc-body">
    <pre>@JsonConvert.SerializeObject(Model.DataStructure, Formatting.Indented)</pre>
</div>