@model form_builder.ViewModels.FormBuilderViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["BannerTypeformUrl"] = Model.FeedbackForm;
}

<div id="root" class="text-center">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { autocomplete = "on", novalidate="novalidate"}))
    {
        @Html.Raw(Model.RawHTML)

        @Html.HiddenFor(_ => _.Path)
    }
</div>