@model SuccessViewModel;
@{
    ViewData["Title"] = "Submit";
}

<h1>Submit</h1>
<table>
    <caption>Data</caption>
    <tbody>
        @foreach (var page in Model.FormAnswers.Pages)
        {
            @foreach (var question in page.Answers)
            {
                <tr>
                    <th>@question.QuestionId</th>
                    <td>@question.Response</td>

                </tr>
            }
        }
    </tbody>
</table>