@model SuccessViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
}
<div class="success-page">
    <section class="header-container">
        <h1>@Model.PageTitle</h1>
        <p class="h2">@Model.SecondaryHeader</p>
    </section>

    <section class="body-container">
        @if (!string.IsNullOrWhiteSpace(Model.Reference))
        {
            <p><strong>Your reference number is:</strong> @Html.Raw(Model.Reference)</p>
        }
        @Html.Raw(Model.PageContent)
    </section>
</div>

