@model SuccessViewModel
@{
    ViewData["Title"] = Model.FormName;
    ViewData["PageTitle"] = Model.PageTitle;
}

<div class="smbc-panel smbc-panel--confirmation">
    <h1 class="govuk-panel__title">
        @Model.FormName
    </h1>
    @if (!string.IsNullOrWhiteSpace(Model.Reference))
    {
        <div class="govuk-panel__body">
            Your reference number<br><strong>@Html.Raw(Model.Reference)</strong>
        </div>
    }
</div>

@* <h2 class="govuk-heading-m">@Model.SecondaryHeader</h2> *@

@Html.Raw(Model.PageContent)
