@{
    ViewData["Title"] = "Error";  
    Layout = "_ds_ErrorLayout";
}

    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Please try again later.</p>
    
    <p class="govuk-body">
        <a href="https://www.stockport.gov.uk">Go back to the homepage</a>
    </p>
