@{
    ViewData["Title"] = "Error";  
    Layout = "_LayoutError";
}

<div id="root"  style="margin:auto">
    <div class="error-page" id="stock-alert">
        <div class="error-content">
            <h1 class="h2">Something went wrong</h1>
            <p class="error-page-message">We're sorry, something went wrong with the page you're looking for.  It may have been removed, had its name changed, or is temporarily unavailable.</p>
            <a href="https://www.stockport.gov.uk">Go back to the homepage</a>
        </div>
    </div>
</div>
