@{
    ViewData["Title"] = "404 - Page not found";
    ViewData["IsError"] = true;
    Layout = "_ErrorLayout";
}

<h1 class="govuk-heading-l">404 - Page not found</h1>
<p class="smbc-body">Time out issue</p>

<p class="smbc-body">
    <a class="govuk-link" href="https://www.stockport.gov.uk">Go back to the homepage</a>
</p>
