@{
    var isError = ViewData.Any(_ => _.Key.Equals("IsError"))
        ? (bool)ViewData["IsError"] 
        : false;
        
    var startPageUrl = string.IsNullOrWhiteSpace(Model?.StartPageUrl) 
        ? string.Empty 
        : Model.StartPageUrl;
}

@if(!Model.Embeddable)
{
    <header class="smbc-header" role="banner" data-module="govuk-header">
        <div class="smbc-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="https://www.stockport.gov.uk/" class="govuk-header__link smbc-header__link--homepage">STOCKPORT.GOV.UK</a>
            </div>
            <div class="govuk-header__content">
                @if (!isError)
                {
                    <a href="@startPageUrl" class="govuk-header__link smbc-header__link--service-name">
                        @Model.FormName
                    </a>
                }
            </div>
        </div>
    </header>
}